https://standalone2.thaqalayn-api.net:443 {
    reverse_proxy http://thaqalayn-api:3001
}
https://thaqalayn-api.net:443 {
    reverse_proxy http://thaqalayn-api:3001
}
https://www.thaqalayn-api.net:443 {
    reverse_proxy http://thaqalayn-api:3001
}
