DATABASE_URL=postgresql://user:password@host:5432/database #Neon PostgreSQL connection string
WEBAPP_URL=ThaqalaynWebAppAPIUrl #Used by the scraper to fetch from the Thaqalayn API. Ex: api.thaqalayn.net
